{% extends "base.html" %}

{% block content %}

  <div class="row">
    <h2>Podcasts</h2>
    <ul class="small-block-grid-3">
      {% for podcast in podcasts %}
        <li><img class="th podcast_image" src="{{ podcast.imgurl }}"></li>
      {% endfor %}
    </ul>
  </div>

  <hr>

  <div class="row">
    <h2>Newest Episodes</h2>
      <ul class="no-bullet">
        {% for name, episode in episodes %}
          <li><a href="#">{{ name }} {{ episode.number }}</a></li>
        {% endfor %}
      </ul>
  </div>

  <hr>

  <div class="row">
    <h2>Popular Tracks</h2>

  </div>

  {% endblock %}

  

